<div class="row">
  <div class="col-md-6">
 
      <h3><a href="https://datacarpentry.github.io/organization-genomics/" target="_blank">Day 1</a></h3>
    <table class="table table-striped">
      <tr> <td>17:30 AM</td>  <td>Introduction</td> </tr>  
      <tr> <td>18:20 PM</td>  <td><a href="https://datacarpentry.github.io/organization-genomics/" target="_blank">Project organization and management</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	  
    <table class="table table-striped"> 
      <tr> <td>18:20 PM</td>  <td><a href="https://datacarpentry.github.io/shell-genomics/" target="_blank">Introduction to Commandline</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	    
	  <h3><a href="https://datacarpentry.github.io/shell-genomics/" target="_blank">Day 2</a></h3>
    <table class="table table-striped"> 
      <tr> <td>18:20 PM</td>  <td><a href="https://datacarpentry.github.io/shell-genomics/" target="_blank">Introduction to Commandline</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	    
<h3><a href="https://datacarpentry.github.io/wrangling-genomics/" target="_blank">Day 3</a></h3>
    <table class="table table-striped">  
      <tr> <td>18:20 PM</td>  <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="_blank">Data wrangling and Proceesing - Part1</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	   
<h3><a href="https://datacarpentry.github.io/wrangling-genomics/" target="_blank">Day 4</a></h3>
    <table class="table table-striped">  
      <tr> <td>18:20 PM</td>  <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="_blank">Data wrangling and Proceesing - Part2</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	    
<h3><a href="http://www.datacarpentry.org/cloud-genomics/" target="_blank">Day 5</a></h3>
    <table class="table table-striped">  
      <tr> <td>18:20 PM</td>  <td><a href="http://www.datacarpentry.org/cloud-genomics/" target="_blank">Introduction to Cloud Computing</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	    
