<div class="row">
  <div class="col-md-6">
	  <h3><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html" target="_blank">Day 1</a></h3>
    <table class="table table-striped">
      <tr> <td>16:30 AM</td>  <td>Introduction</td> </tr>
      <tr> <td>16:40 AM</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td>  </tr>
      <tr> <td>16:50 AM</td>  <td><a href="https://datacarpentry.org/genomics-workshop/setup.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>17:00 AM</td>  <td><a href="https://datacarpentry.org/organization-genomics/01-tidiness/index.html" target="_blank">1. Data Tidiness</a></td> </tr>
      <tr> <td>17:40 AM</td>  <td>BREAK</td> </tr>
      <tr> <td>17:50 AM</td>  <td><a href="https://datacarpentry.org/organization-genomics/02-project-planning/index.html" target="_blank">2. Project Planning</a></td> </tr>
      <tr> <td>18:30 AM</td>  <td><a href="https://datacarpentry.org/organization-genomics/03-ncbi-sra/index.html" target="_blank">3. Ncbi&SRI</a></td> </tr>
      <tr> <td>19:20 AM</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/01-background/index.html" target="_blank">4. Background in Metadata</a></td> </tr>
      <tr> <td>19:50 AM</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/02-quality-control/index.html" target="_blank">5. Assessing Read Quality- Part-1</a></td> </tr>
      <tr> <td>20:20 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>20:30 PM</td>  <td>END</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3><a href="https://datacarpentry.org/wrangling-genomics/" target="_blank">Day 2</a></h3>
    <table class="table table-striped">
      <tr> <td>16:30 AM</td>  <td><a href="" target="_blank">Set Up</a></td> </tr>
      <tr> <td>16:45 AM</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/02-quality-control/index.html" target="_blank">1. Assessing Read Quality- Part-2</a></td> </tr>
      <tr> <td>17:20 AM</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/03-trimming/index.html" target="_blank">2. Trimming and Filtering-Part-1</a></td> </tr>
      <tr> <td>17:50 AM</td>  <td>BREAK</td> </tr>
      <tr> <td>18:00 AM</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/03-trimming/index.html" target="_blank">3. Trimming and Filtering-Part-2</a></td> </tr>
      <tr> <td>18:10 AM</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/04-variant_calling/index.html" target="_blank">4. Variant Calling Workflow</a></td> </tr>
      <tr> <td>19:20 AM</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/05-automation/index.html" target="_blank">5. Automating a variant calling workflow</a></td> </tr>
      <tr> <td>20:00 AM</td>  <td>Wrap up</td> </tr>
      <tr> <td>20:30 PM</td>  <td>END</td> </tr>
    </table>
  </div>
