 <h3><a href="https://swcarpentry.github.io/python-novice-inflammation/setup.html" target="_blank">Day 1</a></h3>
    <table class="table table-striped">
      <tr> <td>17:30 AM</td>  <td>Introduction</td> </tr>  
      <tr> <td>18:20 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html" target="_blank">1. Python Fundamentals</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	    
	  <h3><a href="https://swcarpentry.github.io/python-novice-inflammation/setup.html" target="_blank">Day 2</a></h3>
    <table class="table table-striped">
      <tr> <td>17:30 AM</td>  <td>Introduction</td> </tr>  
      <tr> <td>18:20 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html" target="_blank">2. Analyzing Patient Data</a></td> </tr>
      <tr> <td>19:00 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html" target="_blank">3. Visualizing Tabular Data</a></td> </tr>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	    
<h3><a href="https://swcarpentry.github.io/python-novice-inflammation/setup.html" target="_blank">Day 3</a></h3>
    <table class="table table-striped">
      <tr> <td>17:30 AM</td>  <td>Introduction</td> </tr>  
      <tr> <td>18:20 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-loop/index.html" target="_blank">4. Repeating Actions</a></td> </tr>
      <tr> <td>19:00 PM</td>  <td><a href="hhttps://swcarpentry.github.io/python-novice-inflammation/05-lists/index.html" target="_blank">5. Storing Multiple Values</a></td> </tr>>
      <tr> <td>19:30 AM</td>  <td>Wrap-up and Finish</td> </tr>
	    
          <h3><a href="https://swcarpentry.github.io/python-novice-inflammation/setup.html" target="_blank">Day 4</a></h3>
    <table class="table table-striped">   
      <tr> <td>17:30 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files/index.html" target="_blank">6. Analyzing from Multiple Tables</a></td> </tr>
      <tr> <td>18:55 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html" target="_blank">7. Pandas DataFrames</a></td> </tr>
      <tr> <td>19:25 AM</td>  <td>Wrap-up and Finish</td> </tr>
